In [1]:
import pandas as pd
import ast
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv(".\simulation_data.csv")
df

,TimeStamp,Standard Deviation between Vehicle Coordinates,Mean Position of Vehicle Coordinates,Position of Vehicles
0,0,"(None, None)","(None, None)",[]
1,1,"(None, None)","(None, None)",[]
2,2,"(None, None)","(None, None)",[]
3,3,"(None, None)","(None, None)",[]
4,4,"(None, None)","(None, None)",[]
...,...,...,...,...
1578,1578,"(13.637436286746553, 12.719001073357187)","(65.85132132509507, 44.139639543860056)","[(85.59283244596331, 36.825730221392675), (85...."
1579,1579,"(15.727239086810544, 12.60297224247473)","(70.08546049202018, 44.04083109143719)","[(95.95979604232592, 36.68423390297098), (95.3..."
1580,1580,"(10.677625954460934, 13.109119531515958)","(68.32661575078856, 45.99662628767014)","[(63.32675050519699, 36.91464600652176), (81.1..."
1581,1581,"(12.642504420839002, 13.122009665024922)","(73.2728843554114, 45.960402601249825)","[(71.41028672105959, 36.889726038043285), (91...."
1582,1582,"(8.365515827488746, 13.361580443119117)","(71.96713161281446, 49.044546840521775)","[(81.79251021154535, 36.84501789861057), (82.8..."

In [3]:
# removing those entries that have (none,none)
df = df[df['Standard Deviation between Vehicle Coordinates'] != "(None, None)"]
df

,TimeStamp,Standard Deviation between Vehicle Coordinates,Mean Position of Vehicle Coordinates,Position of Vehicles
10,10,"(7.926727637074327, 41.90767448642425)","(4.467088375817577, 72.54635422035759)","[(1.0600000000000005, 73.22614107883818), (13...."
11,11,"(8.92301053225779, 40.93233855028925)","(6.538609971436556, 71.88312269073262)","[(2.7253582328232007, 73.21508475862026), (16...."
12,12,"(6.048568394170356, 38.53654504261971)","(10.151860031091351, 82.40709306887192)","[(6.775088099665007, 76.38833136531342), (16.7..."
13,13,"(5.1659845437137815, 35.38032914194357)","(12.033459312923599, 87.47147584436438)","[(7.019906598060508, 76.38670601428673), (16.7..."
14,14,"(4.973313834682494, 33.97843945680548)","(12.187444692372747, 85.34254403166968)","[(7.027313085661373, 76.38665684258481), (16.7..."
...,...,...,...,...
1578,1578,"(13.637436286746553, 12.719001073357187)","(65.85132132509507, 44.139639543860056)","[(85.59283244596331, 36.825730221392675), (85...."
1579,1579,"(15.727239086810544, 12.60297224247473)","(70.08546049202018, 44.04083109143719)","[(95.95979604232592, 36.68423390297098), (95.3..."
1580,1580,"(10.677625954460934, 13.109119531515958)","(68.32661575078856, 45.99662628767014)","[(63.32675050519699, 36.91464600652176), (81.1..."
1581,1581,"(12.642504420839002, 13.122009665024922)","(73.2728843554114, 45.960402601249825)","[(71.41028672105959, 36.889726038043285), (91...."
1582,1582,"(8.365515827488746, 13.361580443119117)","(71.96713161281446, 49.044546840521775)","[(81.79251021154535, 36.84501789861057), (82.8..."

In [4]:
df[['std_dev_x', 'std_dev_y']] = df['Standard Deviation between Vehicle Coordinates'].apply(lambda x: pd.Series(ast.literal_eval(x)))
df[['mean_coord_x', 'mean_coord_y']] = df['Mean Position of Vehicle Coordinates'].apply(lambda x: pd.Series(ast.literal_eval(x)))

In [5]:
df

,TimeStamp,Standard Deviation between Vehicle Coordinates,Mean Position of Vehicle Coordinates,Position of Vehicles,std_dev_x,std_dev_y,mean_coord_x,mean_coord_y
10,10,"(7.926727637074327, 41.90767448642425)","(4.467088375817577, 72.54635422035759)","[(1.0600000000000005, 73.22614107883818), (13....",7.926728,41.907674,4.467088,72.546354
11,11,"(8.92301053225779, 40.93233855028925)","(6.538609971436556, 71.88312269073262)","[(2.7253582328232007, 73.21508475862026), (16....",8.923011,40.932339,6.538610,71.883123
12,12,"(6.048568394170356, 38.53654504261971)","(10.151860031091351, 82.40709306887192)","[(6.775088099665007, 76.38833136531342), (16.7...",6.048568,38.536545,10.151860,82.407093
13,13,"(5.1659845437137815, 35.38032914194357)","(12.033459312923599, 87.47147584436438)","[(7.019906598060508, 76.38670601428673), (16.7...",5.165985,35.380329,12.033459,87.471476
14,14,"(4.973313834682494, 33.97843945680548)","(12.187444692372747, 85.34254403166968)","[(7.027313085661373, 76.38665684258481), (16.7...",4.973314,33.978439,12.187445,85.342544
...,...,...,...,...,...,...,...,...
1578,1578,"(13.637436286746553, 12.719001073357187)","(65.85132132509507, 44.139639543860056)","[(85.59283244596331, 36.825730221392675), (85....",13.637436,12.719001,65.851321,44.139640
1579,1579,"(15.727239086810544, 12.60297224247473)","(70.08546049202018, 44.04083109143719)","[(95.95979604232592, 36.68423390297098), (95.3...",15.727239,12.602972,70.085460,44.040831
1580,1580,"(10.677625954460934, 13.109119531515958)","(68.32661575078856, 45.99662628767014)","[(63.32675050519699, 36.91464600652176), (81.1...",10.677626,13.109120,68.326616,45.996626
1581,1581,"(12.642504420839002, 13.122009665024922)","(73.2728843554114, 45.960402601249825)","[(71.41028672105959, 36.889726038043285), (91....",12.642504,13.122010,73.272884,45.960403
1582,1582,"(8.365515827488746, 13.361580443119117)","(71.96713161281446, 49.044546840521775)","[(81.79251021154535, 36.84501789861057), (82.8...",8.365516,13.361580,71.967132,49.044547

In [7]:
# going by the logic that the vehicles will be closer at highly congested places 
# so the standard devaition between the coordinates of vehicles will be less at highly congested places
# we'll be extracting only those timestamps so that its easier for the LLM to analyse 
high_congestion_df = df[(df['std_dev_x'] < df['std_dev_x'].quantile(0.1)) | (df['std_dev_y'] < df['std_dev_y'].quantile(0.1))]
high_congestion_df.drop(columns=['Standard Deviation between Vehicle Coordinates','Mean Position of Vehicle Coordinates', 'Position of Vehicles'], inplace=True)
high_congestion_df.reset_index(drop=True, inplace=True)
high_congestion_df.head()

   TimeStamp  std_dev_x  std_dev_y  mean_coord_x  mean_coord_y
0         10   7.926728  41.907674      4.467088     72.546354
1         11   8.923011  40.932339      6.538610     71.883123
2         12   6.048568  38.536545     10.151860     82.407093
3         13   5.165985  35.380329     12.033459     87.471476
4         14   4.973314  33.978439     12.187445     85.342544

In [8]:
high_congestion_df['Standard Deviation between Vehicle Coordinates'] = list(zip(high_congestion_df['std_dev_x'],high_congestion_df['std_dev_y']))
high_congestion_df['Mean Position of Vehicle Coordinates'] = list(zip(high_congestion_df['mean_coord_x'], high_congestion_df['mean_coord_y']))

high_congestion_df.drop(['std_dev_x', 'std_dev_y', 'mean_coord_x', 'mean_coord_y'], axis=1, inplace=True)

In [9]:
high_congestion_df.head()

,TimeStamp,Standard Deviation between Vehicle Coordinates,Mean Position of Vehicle Coordinates
0,10,"(7.926727637074327, 41.90767448642425)","(4.467088375817577, 72.54635422035759)"
1,11,"(8.92301053225779, 40.93233855028925)","(6.538609971436556, 71.88312269073262)"
2,12,"(6.048568394170356, 38.53654504261971)","(10.151860031091351, 82.40709306887192)"
3,13,"(5.1659845437137815, 35.38032914194357)","(12.033459312923599, 87.47147584436438)"
4,14,"(4.973313834682494, 33.97843945680548)","(12.187444692372747, 85.34254403166968)"

In [10]:
file_path = './congestionpoints.csv'


high_congestion_df.to_csv(file_path, index=False)